POSTGRES_USER=your_database_username
POSTGRES_PASSWORD=your_database_password
POSTGRES_DB=your_database_name

DATABASE_URL=postgresql+psycopg2://your_database_username:your_database_password@postgres:5432/your_database_name